@model PagedProductViewModel
@{
    ViewData["Title"] = "Product Catalogue";
}

<div class="container">
    <div class="row">
        <div class="col-md-3 index__filter-wrapper ">
            <h4 class="index__filter-title">Filter By</h4>
            <hr />

            <div>
                <partial name="../Catalogue/Partials/_Category.cshtml" model="@Model.Categories" view-data="ViewData" />
            </div>

            <div>
                <partial name="../Catalogue/Partials/_Brand.cshtml" model="@Model.Brands" view-data="ViewData" />
            </div>

        </div>
        <div class="col-md-9 @(Model.PagedProducts.Products.Any()? "index__product-wrapper--has-pages" : "index__product-wrapper--no-pages")" style="padding-top: 40px;">
            <partial name="../Catalogue/Partials/_ProductList.cshtml" model="@Model" />
        </div>
    </div>
</div>