.product-list-item {
    font-family: Roboto,'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    height: 370px;
    text-align: center;
    padding: 10px 5px 10px 5px;
    margin-bottom: 15px;

    &__image-wrapper {
        margin-bottom: 10px;
    }

    &__image {
        height: 220px;
        width: 200px;
    }

    &__product-name {
        font-size: 14px;
        font-weight: 500;
        color: black;
        height: 35px;
    }

    &__product-price {
        font-size: 16px;
        font-weight: 500;
        color: purple;
        margin-top: 10px;
    }

    &__button {
        background-color: purple;
        color: white;
        padding: 4px 15px;
        border-radius: 10%;

        &:hover {
            background-color: white;
            color: purple;
        }
    }
}
